{% extends 'base.html' %}

{% block content %}

    <div class="col-sm-9 ml-5">
        <div class="card-deck" style="margin-left: 10px">

            {% for player, option_list in zip_lists %}
                <div class="card mb-3" style="min-width: 9rem; max-width: 9rem;">
                    <a href="{% url 'members:player-detail' player_id=player.pk %}">
                        <img src="{{ player.image.url }}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <a href="{% url 'members:player-detail' player_id=player.pk %}"
                           style="color: black; font-size: 3px">
                            {{ player.name }}</a>
                        <p class="text-center"> dollars : {{ option_list }}</p>

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}