{% extends 'base.html' %}

{% block content %}
<div class="container-fluid ">

    <div class="card-group">


        <form method="post" action="#" class="row offset-1">

                {% csrf_token %}
                {% for player, option_list in zip_lists %}
                <div class="border col-lg-2 ml-2 mb-3">
                    <a href=" {% url 'members:player-detail' player_id=player.pk %}">
                        <img src="{{ player.image.url }}" class="card-img-top" alt="...">
                    </a>
                    <div class="text-center">
                        <a href="{% url 'members:player-detail' player_id=player.pk %}"
                           style="color: black; text-align: center;">
                            {{ player.name }}</a>
                        <p> dollars : {{ option_list }}</p>
                    </div>

                </div>

                {% endfor %}

            <div class="container text-center">
                <input class="btn btn-primary col-lg-3 mb-3 " style="margin-right: 12.33333333%;" type="submit">
            </div>
        </form>


    </div>

</div>

{% endblock %}