{% extends 'base.html' %}

{% block content %}
{% if messages %}
<ul class="message">
    {% for message in messages %}
    <div class="alert alert-info mt-3 text-center">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}

<div class="container text-center mt-1 mb-4">
    <a href="{% url 'members:player-clear' %}" class="btn btn-outline-primary"> 선수단 초기화 </a>
</div>

<div class="container-fluid offset-1">

    <div class="card-group">
        <div class="col-lg-2 ml-2 mb-3 text-center border">
            PG
        </div>
        <div class="col-lg-2 ml-2 mb-3 text-center border">
            SG
        </div>
        <div class="col-lg-2 ml-2 mb-3 text-center border">
            SF
        </div>
        <div class="col-lg-2 ml-2 mb-3 text-center border">
            PF
        </div>
        <div class="col-lg-2 ml-2 mb-3 text-center border">
            C
        </div>
        {% for player, option_list in zip_lists %}
        <form method="GET" action="{% url 'members:player-valid' player_pk=player.pk %}"
              class="col-lg-2 ml-2 mb-3 border-left border-right">
            <a href=" {% url 'members:player-detail' player_id=player.pk %}">
                <img src="{{ player.image.url }}" class="card-img-top" alt="...">
            </a>
            <div class="text-center">
                <a href="{% url 'members:player-detail' player_id=player.pk %}"
                   style="color: black; text-align: center;">
                    {{ player.name }}</a>
            </div>
            <input type="submit" class="col-lg-12" name="test" value="{{option_list}}">
        </form>
        {% endfor %}

        <div class="container text-center">
            <input class="btn btn-primary col-lg-3 mb-3 " style="margin-right: 12.33333333%;" type="submit">
        </div>


    </div>

</div>
{% endblock %}