{% extends 'base.html' %}
{% load socialaccount %}
        <!--socialaccount 라는 외부의 기능을 html에 뿌리기 위해서 로드한다. static로드 하는 개념이라는데-->

{% block content %}
<!--
총 12 칸
col - lg : 큰 화면
    4칸을 차지, 4칸부터 시작
col - md : 중간 화면
    6칸을 차지, 3칸부터 시작
col - sm : 작은 화면
    8칸을 차지, 2칸부터 시
-->
<div class="col col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <h2 class="text-center">로그인</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            {{ field }}
        </div>
        {% endfor %}

        {% for error in form.non_field_errors %}
        <small class="form-text text-center text-danger font-weight-bold">{{error}}</small>
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg" type="submit">로그인</button>
        <a href="https://www.facebook.com/v3.3/dialog/oauth?client_id=2758070464266486&redirect_uri=http://localhost:8000/users/facebook-login/"
           class="btn btn-lg btn-info btn-block">페이스북 로그인</a>

        <a href="{% provider_login_url 'google' %}" class="btn btn-block btn-lg btn-light">구글 로그인</a>

        <a href="{% provider_login_url 'naver' %}" class="btn btn-block btn-lg btn-success">네이버 로그인</a>

    </form>
</div>
{% endblock %}
