{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    {% for post in posts %}
    <div id="post-{{post.pk}}" class="col col-lg-4 offset-lg-4 mb-4">
        <div class="card">
            <div class="card-header">
                {{post.title}}
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">
                        <span>
                            <a href="#">
                                <img src="{{ post.user.img_profile_url }}"
                                     style="width: 30px; height: 30px; border-radius: 100%;">
                            </a>
                        </span>
                    </th>
                    <th scope="col">{{post.user.first_name}}</th>
                    <th scope=" col">{{post.created_at}}</th>
                    <th scope="col">{{post.id}}</th>
                </tr>
                </thead>
            </table>
            <div class="card-body">
                <img src="{{ post.image.url}}" class="card-img-top">
                <p class="card-text">{{post.content}}</p>
                <p class="card-footer">{{post.html|safe}}</p>


                <input type="text" id="sample5_address" placeholder="주소">
                <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
                <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>

                <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
                <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=85bbacdfd63da3a0eec74cd6eec116d9&libraries=services"></script>
                <script>
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                        mapOption = {
                            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                            level: 5 // 지도의 확대 레벨
                        };

                    //지도를 미리 생성
                    var map = new daum.maps.Map(mapContainer, mapOption);
                    //주소-좌표 변환 객체를 생성
                    var geocoder = new daum.maps.services.Geocoder();
                    //마커를 미리 생성
                    var marker = new daum.maps.Marker({
                        position: new daum.maps.LatLng(37.537187, 127.005476),
                        map: map
                    });


                    function sample5_execDaumPostcode() {
                        new daum.Postcode({
                            oncomplete: function (data) {
                                var addr = data.address; // 최종 주소 변수

                                // 주소 정보를 해당 필드에 넣는다.
                                document.getElementById("sample5_address").value = addr;
                                // 주소로 상세 정보를 검색
                                geocoder.addressSearch(data.address, function (results, status) {
                                    // 정상적으로 검색이 완료됐으면
                                    if (status === daum.maps.services.Status.OK) {

                                        var result = results[0]; //첫번째 결과의 값을 활용

                                        // 해당 주소에 대한 좌표를 받아서
                                        var coords = new daum.maps.LatLng(result.y, result.x);
                                        // 지도를 보여준다.
                                        mapContainer.style.display = "block";
                                        map.relayout();
                                        // 지도 중심을 변경한다.
                                        map.setCenter(coords);
                                        // 마커를 결과값으로 받은 위치로 옮긴다.
                                        marker.setPosition(coords)
                                    }
                                });
                            }
                        }).open();
                    }
                </script>

                <ul class="list-group">
                    {% for comment in post.comments.all %}
                    <li class="list-group-item ">

                        <strong>{{ comment.author}}</strong>
                        <span>{{ comment.html|safe}}</span>

                    </li>
                    {% endfor %}
                    {% if user.is_authenticated %}
                    <form action="{% url 'posts:post-like-toggle' post_pk=post.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">
                            {% if user in post.like_users.all %}
                            좋아요 해제
                            {% else %}
                            좋아요
                            {% endif %}
                        </button>
                    </form>
                    {% endif %}

                    <div>
                        <span>좋아하는 사람 </span>
                        <strong>{{ post.like_users.count }}</strong>
                    </div>

                </ul>
                <!--댓글 작성 form 구현-->
                <!-- 유저가 로그인을 한 경우에만 보여지도록 -->
                {% if user.is_authenticated %}
                <form action="{% url 'posts:comment-create' post_pk=post.pk %}"
                      method="POST">
                    {% csrf_token %}
                    {{ comment_form.content }}
                    <button class="btn btn-primary btn-block"
                            type="submit">댓글 작성
                    </button>
                </form>
                {% endif %}
            </div>
        </div>

    </div>
    <!--<div><img src="{{ post.image.url}}" alt=""></div>-->
    {% endfor %}

</div>
{% endblock %}