{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row " id="team.name">
        <div class="col-sm-2">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">img</th>
                    <th scope="col">name</th>
                </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                <tr>
                    <th>
                        <img src="{{ team.team_image.url }}" style="width: 50px; height: 50px; border-radius: 100%;">
                    </th>

                    <td scope="row">
                        <a href="{% url 'members:team-detail' team_id=team.pk %}">
                        {{team.name}}</a>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>



        <div class="col-sm-10">

            <div class="card-group">
            {% for player in players %}
                <div class="card">
                    <img src="{{ player.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{% url 'members:player-detail' player_id=player.pk %}">
                        {{player.name}}</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>


    </div>

</div>
{% endblock %}
