{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row " id="team.name">
        <div class="col-sm-offset-1 col-sm-2">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">img</th>
                </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'members:team-detail' team_id=team.pk %}">{{team.name}}</a>
                    </th>
                    <td><img src="{{ team.team_image.url }}" style="width: 130px; height: 130px; border-radius: 100%;">
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-offset-0 col-sm-4 col-md-9"></div>
    </div>

</div>
{% endblock %}
