{% extends 'base.html' %}

{% block content %}
<div id="wrap">
    <div class="container text-center ">
        <img class="center-block mx-auto" src="{{ team.team_image.url }}"
             style="width: 150px; height: 150px; border-radius: 100%;">
        <div class="font-weight-bold mb-3">{{ team.name }}</div>
    </div>

    <div class="container">
        <!-- NBA 팀 리스트 레이아웃 -->
        <div class="row " id="team.name">
            <div class="col-sm-2">
                <table class="table">
                    <tbody>
                    {% for team in teams %}
                    <tr>
                        <th>
                            <a href="{% url 'members:team-detail' team_id=team.pk %}">
                                <img src="{{ team.team_image.url }}"
                                     style="width: 50px; height: 50px; border-radius: 100%;">
                            </a>
                        </th>
                        <td scope="row">
                            <a href="{% url 'members:team-detail' team_id=team.pk %}" style="color: black">
                                {{ team.name }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <!-- 선수들 레이아웃 -->
            <div class="col-sm-9 ml-5">

                <div class="card-deck" style="margin-left: 10px">
                    {% for player in players %}
                    <div class="card mb-3" style="min-width: 15rem; max-width: 15rem;">
                        <a href="{% url 'members:player-detail' player_id=player.pk %}">
                            <img src="{{ player.image.url }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <a href="{% url 'members:player-detail' player_id=player.pk %}"
                               style="color: black">
                                {{ player.name }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}
