server{
    listen 80;
    server_name localhost lab-factory.org www.lab-factory.org api.lab-factory.org;
    charset utf-8;
    client_max_body_size 128M;

    location / {
        include proxy_params;
        proxy_pass http://unix:/tmp/gunicorn.sock;
    }

    location /static/ {
        alias /srv/project/.static/;

    }

    location /media/ {
        alias /srv/project/.media/;
    }
}