{% load static %}
<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Normalize.css : 브라우저 마다 다른 CSS 기본 설정값들을 같게 맞추어준다 -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <title>capstone NBA site</title>
    <style>
        .square {
        }

        .square:before {
            content: '';
            padding: 50% 0;
            display: inline-block;
        }

        .square > .thumbnail {
            display: block;
            width: 100%;
            background-size: cover;
            background-position: center center;
        }
    </style>
</head>
<body>
<div id="wrap">
    <nav class="navbar navbar-expand-lg navbar-light bg-light col-lg-10 offset-1 mt-4 rounded">
        <a href="{% url 'index' %}" class="navbar-brand">capstone NBA Site</a>



        <ul class="navbar-nav ml-md-auto">


            <div class="btn-group dropleft">
                <button type="button" class="btn btn-secondary dropdown-toggle bg-light text-dark"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if user.is_authenticated %}
                    ({{ user.first_name }})
                    {% endif %}
                </button>
                <div class="dropdown-menu">
                    {% if user.is_authenticated %}
                    <a class="dropdown-item text-center" href="{% url 'users:profile' %}">Profile</a>

                    <a class="dropdown-item" href="#">
                        <form action="{% url 'users:logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item text-center">Log out</button>
                        </form>
                    </a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'users:login' %}">Log In</a>
                    <a class="dropdown-item" href="{% url 'users:signup' %}">Sign Up</a>
                    {% endif %}

                </div>
            </div>
        </ul>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light col-lg-10 offset-1 mt-4 rounded">
        <ul class="navbar-nav ml-md-auto mx-auto mx-md-n5">

            <li class="nav-item mr-sm-1 col px-md-5">
                <a href="{% url 'posts:post-list' %}" class="btn btn-outline-secondary">Post</a>
            </li>
            <li class="nav-item mr-sm-1 col px-md-5">
                <a href="{% url 'members:team-list' %}" class="btn btn-outline-secondary">Team</a>
            </li>
            <li class="nav-item mr-sm-1 col px-md-5">
                <a href="{% url 'members:challenge' %}" class="btn btn-outline-secondary">Challenge</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid mt-3">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>


